<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.health_care">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Health_Care">
        <activity
            android:name=".activities.PickDrug"
            android:exported="false" />
        <activity
            android:name=".activities.CreateDrugPage"
            android:exported="false" />
        <activity
            android:name=".activities.AdminMainPage"
            android:exported="false" />
        <activity
            android:name=".activities.DrugPage"
            android:exported="false" />
        <activity
            android:name=".activities.SearchPage"
            android:exported="false"
            android:label="@string/title_activity_search_page"
            android:theme="@style/Theme.Health_Care.NoActionBar" />
        <activity
            android:name=".activities.SignInPage"
            android:exported="false" />
        <activity
            android:name=".PharmacyRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CustomerMainPage"
            android:exported="false" />
        <activity
            android:name=".activities.LoginPage"
            android:exported="false" />
        <activity
            android:name=".PharmacyPanelInfoActivity"
            android:exported="false" />
        <activity
            android:name=".PharmacyDrugsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>